<mat-sidenav-container>
  <mat-sidenav>S</mat-sidenav>
  <mat-sidenav-content style="width:100vw; height:100vh">
    <table>
      <tr>
        <td style="width:30vw">
          <mat-card class="card">
            <app-create></app-create>
          </mat-card>
        </td>
        <td>
          <mat-card class="card">
            <app-created></app-created>
          </mat-card>
        </td>
        <td>
          <mat-card class="card">
            <app-view></app-view>
          </mat-card>
        </td>
      </tr>
    </table>
  </mat-sidenav-content>
</mat-sidenav-container>
